/HDR_IP/test_HDR_IP1/.apc
/HDR_IP/test_HDR_IP1/.settings
/HDR_IP/test_HDR_IP1/solution1
/HDR_IP/test_HDR_IP1/.cproject
/HDR_IP/test_HDR_IP1/.project
/HDR_IP/test_HDR_IP1/.vivado_hls_log_all
/HDR_IP/test_HDR_IP1/vivado_hls


/HF_IP/test_HF_IP1/.apc
/HF_IP/test_HF_IP1/.settings
/HF_IP/test_HF_IP1/solution1
/HF_IP/test_HF_IP1/solution2
/HF_IP/test_HF_IP1/.cproject
/HF_IP/test_HF_IP1/.project
/HF_IP/test_HF_IP1/.vivado_hls_log_all
/HF_IP/test_HF_IP1/vivado_hls
